<style>
    .contact {
        color: gray;
    }
</style>

<p>Olá,
    <%= name %>.</p>

<p>Esperamos que tenha gostado da nossa aula experimental!</p>

<p>Avaliamos seu nível de Inglês atual como <b><%= level %></b></p>

<p><a href="<%= link %>">Clique aqui</a> para ter acesso ao sistema e poder adquirir suas primeiras aulas em grupo!</p>

<br>

<p><b>Importante: O link estará disponivel somente durante os proximos 5 (cinco) dias!</b></p>

<br>
<hr>
<div class="contact">
    <p>
        Lang Learning Team
    </p>
    <hr>
    <p>
        Alguma dúvida?
    </p>
    <p>
        Entre em contato com a gente <a href="mailto:support@langslearning.com">support@langslearning.com</a>
    </p>
</div>