<style>
    .contact {
        color: gray;
    }
</style>

<p>
    Olá,
    <%= studentName %>.
</p>

<p>
    Seu pacote de aulas "
    <%= packageName %>" contendo
        <%= packageClasses %> aulas foi adquirido com sucesso!
</p>

<p>
    Agora você possui
    <%= availableClasses %> aulas disponíveis, que tal marcar suas próximas aulas?
</p>

<p>
    A gente vai te dar uma ajudinha, <a href="https://langslearning.com/student/bookaclass">clique aqui!</a>
</p>

<p>Obrigado!</p>
<hr>
<div class="contact">
    <p>
        Lang Learning Team
    </p>
    <hr>
    <p>
        Alguma dúvida?
    </p>
    <p>
        Entre em contato com a gente <a href="mailto:support@langslearning.com">support@langslearning.com</a>
    </p>
</div>