body {
    background-color: whitesmoke;
}

.nav-link {
    padding: 0.8rem 1rem;
}

.classes_by_date__article:first-child {
    margin-top: 80px;
}

.classes_by_date__article {
    margin-top: 40px;
    border-bottom: none;
}

.classes_by_date__article>.card-header {
    background-color: white;
    margin: 0px;
    color: var(--primary-color);
    font-family: 'Quicksand';
    font-size: 1.5rem;
    cursor: pointer;
}

.classes_by_date__article>.card-header>div:last-child {
    text-align: right;
    padding-top: 3px;
    font-size: 0.8em;
}

.classes_by_date__article[data-show=true] .classes_by_date__show,
.classes_by_date__article[data-show=false] .classes_by_date__hide {
    display: none;
}

.classes_by_date__article[data-show=true] .classes_by_date__hide,
.classes_by_date__article[data-show=false] .classes_by_date__show {
    display: block;
}

.card {
    margin-left: auto;
    margin-right: auto;
}

.class__header-style {
    background-color: #FFEC8F;
    font-size: 1.2rem;
    padding: .4rem 1.25rem;
    margin-top: -1px;
    border-radius: 5px 5px 0px 0px;
    border: 1px solid #e3e3e3;
}

.classes__section {
    padding-top: 0px;
    background-color: whitesmoke;
    text-align: center;
    font-family: 'Quicksand';
    display: flex;
    flex-wrap: wrap;
}

.classes__section .card {
    margin-top: 30px;
}

.classes__section>.col-sm-3 {
    padding-left: 0px;
    padding-right: 0px;
}

.teacher__image {
    width: 5rem;
    height: 5rem;
}

.schedule__button {
    color: white;
    background-color: var(--primary-color);
}

.schedule__button:hover {
    background-color: var( --button-enter-hover);
}

.card-footer {
    background-color: var(--lighter-secondary);
    color: black;
}

.material__download-icon {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

.button__icon {
    width: 100%;
}

.couch__icon {
    padding-left: 1rem;
    color: rgb(95, 95, 95);
}

.people__inclass {
    padding-left: .2rem;
}