@import url('/styles/variables.css');

@font-face {
    font-family: 'Spartwell';
    src: url('/fonts/Spartwell.otf');
}

/* Header */
.nav__color {
    background-color: transparent;
}

.navsize {
    padding-top: 0;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--white);
    padding-bottom: .5rem;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: var(--primary-color);
}

.tryit__button {
    color: var(--white);
    margin-top: .5rem;
    margin-left: 0;
}

.title__color-primary {
    color: var(--primary-color);
    text-shadow: 2px 2px rgba(0, 0, 0, .7);
    font-family: 'Spartwell';
}

.title__color-secondary {
    color: var(--secondary-color);
    text-shadow: 2px 2px rgba(0, 0, 0, .7);
    font-family: 'Spartwell', cursive;    
}

.whole__title {
    margin-right: 0;
    padding: 0px;
    font-size: 2.2rem;
}

/* Banner */
.banner {
    background-image: url('../images/background.jpg');
    -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(70%, transparent) , to(rgba(250, 250, 250, 0.2)));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: unset;
    width:100%;
    height: 70%;
	top: 84px;
    left: 0;
    display: inline-block;
}

.banner__text {
    background-color: rgba(255, 214, 0, .5);
    width: 30%;
    font-family: 'Spartwell';
    font-size: 1rem; 
    text-align: center;
    align-items: flex-end;
    margin-left: 0;
    display: flex;
    justify-content: center;
}

.all__texts {
    top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
}

.calling__text {
    top: 70px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    text-align: center;
    margin-left: 1rem;
    background-color: rgba(0, 0, 0, .5);
    align-content: center;
    position: absolute;
    padding-left: .5rem;
    padding-right: .5rem;
    padding-top: .5rem;
    margin-right: 10rem;
}

.calling__one {
    color: var(--white);
    font-size: 1rem;
    display: flex;
    align-items: flex-start;
    margin-bottom: 0;
}

.calling__two {
    color: var(--secondary-color);
    display: flex;
    align-items: flex-start;
    text-align: center;
    font-size: .7rem;
    justify-content: center;
   
}

/* Cards */
.card.padding {
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    margin-left: 1.5rem;
    
}

.card {
    border-color: #dbdbdb;
    border-width: 1.5px;
}

.img__size {
    width: 100px;
    height: 100px;
    align-self: center;  
}

.card-text.aligment {
    text-align: center;
}

/* Plans */
.title__style {
    font-family: 'Spartwell';
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1.5rem;
}

/* Contact */
.contact {
    margin-bottom: 1.5rem;
    width: 50%;
}

/* Footer */
footer {
    background-color: var(--background-color-nav);
}

.footer {
    background-color: var(--background-color-nav);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 3.5rem;
}

.followus__text {
    margin-right: 2rem;
    font-family: 'Spartwell';
    font-size: 2.5rem;
    color: var(--white);
    margin-top: .5rem;
}

.icons {
    display: flex;
    justify-content: space-around;
}

.facebook__icon {
    height: 2rem;
    width: 2rem;
    margin-top: .2rem;
}

.instagram__icon {
    height: 2.5rem;
    width: 2.5rem;
}

.twitter__icon {
    height: 2rem;
    width: 2rem;
    margin-top: .3rem;
}

/* Responsive */

@media (min-width: 768px) {
    .banner {
        height: 100vh;
    }

    .banner__text {
        font-size: 1.7rem;
    }

    .all__texts {
        top: 315px;
    }

    .calling__text {
        top: 450px;
        background-color: unset;
    }

    .calling__one {
        font-size: 1.5rem;
    }

    .calling__two {
        font-size: 1rem;
    }

    .cards__adjust {
        display: flex;
        justify-content: space-between;
        align-content: center;
    }
}

@media (min-width: 991px) {

    .tryit__button {
        margin-left: .5rem;
        margin-top: 0;
    }
}