@import url('/styles/main.css');

body {
    background-color: whitesmoke;
}

.user__name:hover {
    color: none;
}

.user__name {
    color: var(--secondary-color);
}

.whole__title {
    font-size: 1.5em;
}

.navbar-light.nav__invisible .navbar-nav .nav-link,
.navbar-light.nav__invisible .navbar-nav button,
.navbar-light.nav__visible .navbar-nav .nav-link,
.navbar-light.nav__visible .navbar-nav button {
    font-size: 0.9rem;
    margin-left: 5px;
}

.navbar-light.nav__invisible .navbar-nav .nav-link,
.navbar-light.nav__invisible  {
    color: var(--primary-color);
}

.navbar-light.nav__invisible .navbar-nav .nav-link:hover {
    color: var(--secondary-color);
}

.nav__invisible {
    background-color: white;
}

.nav-link {
    padding: 0.8rem 1rem;
}


/* Card Next Classes */

.class__title-style {
    height: auto;
    font-size: 1.3rem;
    color: var(--primary-color);
}

.info__icon {
    color: gray;
    padding-left: .2rem;
    font-size: .7rem;
    vertical-align: top;
    cursor: pointer;
}

.student_classes__container {
    top: 70px;
    margin-bottom: 2rem;
    font-family: 'Quicksand';
}

.past_classes__container {
    font-family: 'Quicksand';
    top: 50px;
    margin-top: 50px;
}

.student_class_card__container {
    padding-left: 5px;
    padding-right: 5px;
}

.class__card .card-body {
    padding-left: 0px;
    padding-right: 0px;
}

.card__header-classes {
    background-color: white;
}

.card {
    word-wrap: initial;
}

.card-title.no_class {
    margin-top: 3rem;
}

.teacher__image-size {
    width: 3rem;
    height: 3rem;
    margin-left: auto;
    margin-right: auto;
}

.card {
    margin-bottom: 1rem;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
}

.no_padding {
    padding-left: 5px;
    padding-right: 5px;
}

.showmore__button {
    color: var(--primary-color);
    background-color: white;
    border-color: var(--primary-color);
}

.showmore__button:hover {
    background-color: var( --primary-color);
    color: white;
}


/* Card Next Class hour */

.class__header-style {
    padding: 0;
}

.current__classes-card {
    top: 70px;
    font-family: 'Quicksand';
    margin-bottom: 2rem;
    height: 22.5rem;
}

.footer__style {
    background-color: white;
    padding-bottom: 0;
    text-align: center;
}

.next__current {
    display: flex;
    justify-content: space-around;
}

.class__scheduled {
    font-size: 1rem;
    margin-bottom: 5px;
    margin-top: 10px;
}

.card__hour {
    font-size: 3rem;
    color: gray;
}

.name__title {
    font-weight: bold;
    margin-bottom: 0;
}

.name__text {
    font-weight: normal;
}

.schedule__classes-button,
.buy__classes-button {
    margin-top: .5rem;
    margin-bottom: 1rem;
    color: var(--primary-color);
    background-color: white;
    border-color: var(--primary-color);
}

.schedule__classes-button:hover,
.buy__classes-button:hover {
    background-color: var( --primary-color);
    color: white;
}


/* Past Classes */

.scheduled__icon-yes {
    color: green;
}

.scheduled__icon-no {
    color: red;
}


/* Responsive */

@media (min-width: 768px) {
    .class__title-style {
        font-size: 1rem;
    }
}



.card {
    margin-left: auto;
    margin-right: auto;
}

.class__header-style {
    background-color: #FFEC8F;
    font-size: 1.2rem;
    border-radius: 5px 5px 0px 0px;
    border: 1px solid #e3e3e3;
}

.teacher__image {
    width: 5rem;
    height: 5rem;
}

.schedule__button {
    color: white;
    background-color: var(--primary-color);
}

.schedule__button:hover {
    background-color: var( --button-enter-hover);
}

.card-footer {
    background-color: var(--lighter-secondary);
    color: black;
}

.material__download-icon {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

.button__icon {
    width: 100%;
}

.couch__icon {
    padding-left: 1rem;
    color: rgb(95, 95, 95);
}

.people__inclass {
    padding-left: .2rem;
}
