<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Langs learning</title>
  <link rel="icon" href="/images/LangsLearnning_icon.png" type="image/x-icon" />
  <!-- JUST LIBRARIES -->
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.css" />
  <!-- JUST LIBRARIES -->

  <!-- OUR CSS FILES HERE -->
  <link rel="stylesheet" href="/styles/variables.css" />
  <link rel="stylesheet" href="/styles/styles.css" />
  <link rel="stylesheet" href="/styles/student.css" />
  <link rel="stylesheet" href="/styles/packages.css" />
  <link rel="stylesheet" href="/styles/student-navbar.css" />
  <!-- OUR CSS FILES HERE -->
</head>

<body>
  <header>
    <%- include('components/student_navbar.html'); %>
  </header>

  <main>
    <%- include('components/packages.html', {isStudent: true}); %>
  </main>

  <!-- JUST LIBRARIES -->
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/lodash/lodash.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <!-- JUST LIBRARIES -->

  <!-- OUR JS FILES HERE -->
  <script src="/js/index.js"></script>
  <!-- OUR JS FILES HERE -->
</body>

</html>
