<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Langs learning</title>
  <link rel="icon" href="/images/LangsLearnning_icon.png" type="image/x-icon">
  <!-- JUST LIBRARIES -->
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
  <!-- JUST LIBRARIES -->


  <!-- OUR CSS FILES HERE -->
  <link rel="stylesheet" href="/styles/variables.css">
  <link rel="stylesheet" href="/styles/styles.css">
  <!-- OUR CSS FILES HERE -->
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light nav__invisible navsize fixed-top">
      <a class="navbar-brand whole__title" href="#"><span class="title__color-primary">Langs</span><span
          class="title__color-secondary">learning</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Metodologia</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Planos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link color__nav" href="#contact">Contato</a>
          </li>
          <li>
            <a href="#">
              <button type="button" class="btn btn-outline-warning enter__button">Entrar</button>
            </a>
          </li>
          <li>
            <a href="#">
              <button type="button" class="btn btn-warning tryit__button" data-toggle="modal"
                data-target="#modal-trial">Experimente</button>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <main>
    <section class="banner">
      <div class="all__texts">
        <p class="banner__text">Aulas com foco em conversação</p>
        <p class="banner__text">Desde o nível básico ao avançado</p>
        <p class="banner__text">Grupos pequenos por sala</p>
      </div>
      <div class="calling__text">
        <p class="calling__one">Desenrola e vem com a gente!</p>
        <p class="calling__two">Marque uma aula experimental <br> agora mesmo.</p>
      </div>
    </section>

    <section class="background__definition">
      <div class="container cards__adjust">
        <div class="card padding shadow p-3 mb-5 bg-white rounded" style="width: 18rem;">
          <img src="/images/schedule_icon.png" class="card-img-top img__size" alt="Ícone do agendamento">
          <div class="card-body">
            <p class="card-text aligment">Agende sua aula para o dia e hora que melhor se encaixar na sua agenda</p>
          </div>
        </div>
        <div class="card padding shadow p-3 mb-5 bg-white rounded" style="width: 18rem;">
          <img src="/images/material_icon.png" class="card-img-top img__size" alt="Ícone do material">
          <div class="card-body">
            <p class="card-text aligment">Material exclusivo com abordagem dinâmica e descontraída</p>
          </div>
        </div>
        <div class="card padding shadow p-3 mb-5 bg-white rounded" style="width: 18rem;">
          <img src="/images/download_icon.png" class="card-img-top img__size" alt="Ícone do download">
          <div class="card-body">
            <p class="card-text aligment">Material do aluno disponível para download antes da aula</p>
          </div>
        </div>
        <div class="card padding shadow p-3 mb-5 bg-white rounded" style="width: 18rem;">
          <img src="/images/conversation_icon.png" class="card-img-top img__size" alt="Ícone da conversação">
          <div class="card-body">
            <p class="card-text aligment">Aulas de conversação com tema específico e/ou tema livre</p>
          </div>
        </div>
      </div>
    </section>

    <section>
      <h1 class="title__style">Planos</h1>
    </section>

    <section id="contact" class="container contact">
      <h2 class="title__style">Contato</h2>
      <div id="contact-alert-sucess" class="alert alert-success" role="alert" style="display: none;">
        Sua mensagem foi recebida com sucesso, muito obrigado pelo seu interesse!
      </div>
      <div id="contact-alert-error" class="alert alert-warning" role="alert" style="display: none;">
        Infelizmente nao conseguimos receber sua mensagem, tente novamente mais tarde...
      </div>
      <form id="form-contact">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="ipt-contact-name">Nome</label>
            <input type="text" class="form-control" id="ipt-contact-name" aria-describedby="emailHelp"
              placeholder="Digite aqui o seu nome">
          </div>
          <div class="form-group col-md-6">
            <label for="ipt-contact-email">E-mail</label>
            <input type="email" class="form-control" id="ipt-contact-email" placeholder="seuemail@dominio.com">
          </div>
        </div>
        <div class="form-group">
          <label for="ipt-contact-text">Comentário</label>
          <textarea class="form-control" id="ipt-contact-text" placeholder="Deixe o seu comentário aqui!"></textarea>
        </div>
        <input type="hidden" id="ipt-contact-token">
        <button id="btn-contact-submit" type="button" class="btn btn-primary" disabled="true">Enviar</button>
      </form>
    </section>

    <section>

    </section>
  </main>

  <div class="modal fade trial__modal" id="modal-trial" tabindex="-1" aria-labelledby="modal-trial-label"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <section class="trial_socialmedia__section">
            <div>
              <h5>Cadastre-se para fazer sua aula experimental</h5>
            </div>
            <div>
              <a class="facebook_login__button" href="http://localhost:3000/auth/facebook">Cadastrar-se com Facebook</a>
            </div>
          </section>
          <div class="separator">OU</div>
          <section class="trial_registration__section">
            <div>
              <h5>Cadastre-se com seu e-mail</h5>
            </div>
            <div>
              <form>
                <input type="text" class="form-control" id="ipt-trial-email" placeholder="Insira seu e-mail">
                <button type="submit" class="btn btn-primary">Cadastrar</button>
              </form>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>

  <!-- JUST LIBRARIES -->
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/lodash/lodash.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <!-- JUST LIBRARIES -->

  <!-- OUR JS FILES HERE -->
  <script src="/js/index.js"></script>
  <!-- OUR JS FILES HERE -->
</body>
<footer>
  <div class="container footer">
    <p class="followus__text">Siga-nos!</p>
    <div class="icons">
      <a href="#"><img src="/images/facebook_icon.ico" class="facebook__icon" alt="Ícone do Facebook"></a>
      <a href="#"><img src="/images/instagram_icon.ico" class="instagram__icon" alt="Ícone do Instagram"></a>
      <a href="#"><img src="/images/twitter_icon.ico" class="twitter__icon" alt="Ícone do Twitter"></a>
    </div>
  </div>
</footer>

</html>