<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Langs learning</title>
  <link rel="icon" href="/images/LangsLearnning_icon.png" type="image/x-icon">
  <!-- JUST LIBRARIES -->
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
  <!-- JUST LIBRARIES -->


  <!-- OUR CSS FILES HERE -->
  <link rel="stylesheet" href="/styles/variables.css">
  <link rel="stylesheet" href="/styles/styles.css">
  <!-- OUR CSS FILES HERE -->
</head>

<body>
  
  <h1>Student page...</h1>

 <section class="card-deck"> 
    <div class="card">
      <div class="card-header">
        Intermediate
      </div>
      <div class="card-body">
        <h5 class="card-title">PARENTING</h5>
        <p class="card-text">Grammar: Second Conditional</p>
        <p class="card-text">Skills: Listening and Speaking</p>
        <a href="#" class="btn btn-primary">Agendar aula</a>
      </div>
      <div class="card-footer text-muted">
        Download do material
        <img src="../images/download_icon.png" alt="Ícone do download do material">
      </div>
    </div>
  </section>

  <!-- JUST LIBRARIES -->
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/lodash/lodash.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <!-- JUST LIBRARIES -->

  <!-- OUR JS FILES HERE -->
  <script src="/js/index.js"></script>
  <!-- OUR JS FILES HERE -->
</body>

</html>