<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Langs learning</title>
    <link rel="icon" href="/images/LangsLearnning_icon.png" type="image/x-icon">
    <!-- JUST LIBRARIES -->
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.css">
    <!-- JUST LIBRARIES -->


    <!-- OUR CSS FILES HERE -->
    <link rel="stylesheet" href="/styles/variables.css">
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="/styles/student.css">
    <link rel="stylesheet" href="/styles/student_bookaclass.css">
    <link rel="stylesheet" href="/styles/student-navbar.css">
    <!-- OUR CSS FILES HERE -->
</head>

<body>

    <header>
        <%- include('components/student_navbar.html'); %>
    </header>

    <main class="container-fluid" style="margin-top: 70px;">
        <% for (const [date, classes] of Object.entries(classesByDay)) { %>
            <article class="card classes_by_date__article" data-show="true">
                <section class="card-header row">
                    <div class="col-sm-4">
                        <i class="far fa-calendar-alt"></i>
                        <%= moment(date, 'DD/MM/yyyy').format('ddd DD/MM/yyyy') %>
                    </div>
                    <div class="col-sm-8">
                        <div class="classes_by_date__hide">
                            Esconder horarios deste dia
                            <i class="far fa-eye-slash"></i>
                        </div>
                        <div class="classes_by_date__show">
                            Exibir horarios deste dia
                            <i class="far fa-eye"></i>
                        </div>
                    </div>
                </section>

                <section class="card-body row classes__section">
                    <% classes.forEach(aClass => {%>
                        <div class="col-sm-3">
                            <div class="card">
                                <div class="card-header class__header-style">
                                    <i class="far fa-clock"></i>
                                    <%= moment(aClass.datetime).format('HH:mm') %>
                                </div>
                                <div class="card-body">
                                    <h4 class="class__title-style">
                                        <%= aClass.title %>
                                    </h4>
                                    <% if (aClass.teacher) { %>
                                        <img src="../images/Lara.jpeg" class="rounded-circle teacher__image" alt="Foto do consultor">
                                        <p class="card-text">Lara</p>
                                        <% } else { %>
                                            <img src="../images/unknown_teacher.png" class="rounded-circle teacher__image" alt="Foto do consultor">
                                            <p class="card-text">Ainda não definido</p>
                                            <% } %>
                                                <div class="button__icon">
                                                    <% if(student.classesIds.find(classId => classId === aClass._id)) { %>
                                                        <a href="#" class="btn btn-sm schedule__button">Cancelar <i class="fas fa-times"></i></a>
                                                        <% } else if(student.availableClasses > 1) { %>
                                                            <a href="#" class="btn btn-sm schedule__button" data-join-class data-class-id="<%= aClass._id %>">Agendar</a>
                                                            <% } else { %>
                                                                <a href="/student/packages" class="btn btn-sm schedule__button">Comprar</a>
                                                                <% } %>
                                                                    <i class="fas fa-couch couch__icon">
                                                                        <span class="people__inclass">
                                                                            <%= aClass.students.length %>
                                                                        </span>
                                                                    </i>
                                                </div>
                                </div>
                            </div>
                        </div>
                        <% }); %>
                </section>
            </article>
            <% } %>
    </main>

    <div class="modal fade" tabindex="-1" data-dialog="join_class">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    Agendar aula
                </div>
                <div class="modal-body">
                    <form action="/student/classes/book" method="POST">
                        <section>
                            <% if (student.availableClasses > 0) { %>
                                <div>
                                    No momento voce possui <b data-id="classes-available-to-schedule"><%= student.availableClasses %></b> aulas disponíveis. Ao confirmar o agendamento desta aula voce terá <b data-id="classes-available-to-schedule"><%= student.availableClasses - 1%></b>                                    aulas disponíveis.
                                </div>
                                <input type="hidden" name="classId" data-id="class-id-to-schedule" required>
                                <div class="row">
                                    <div class="col-sm-12 col-md-4">
                                        <button type="button" class="btn btn-light" data-dismiss="modal">Cancelar <i class="fas fa-times"></i></button>
                                    </div>
                                    <div class="col-sm-12 col-md-8">
                                        <button type="submit" class="btn btn-primary">Confirmar <i class="fas fa-check"></i></button>
                                    </div>
                                </div>
                                <% } else { %>
                                    <div>
                                        Infelizmente voce nao tem aulas disponíveis, <a href="/student/packages">que tal comprar mais aulas?</a>
                                    </div>
                                    <% } %>
                        </section>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- JUST LIBRARIES -->
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/lodash/lodash.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- JUST LIBRARIES -->

    <!-- OUR JS FILES HERE -->
    <script src="/js/student_bookaclass.js"></script>
    <!-- OUR JS FILES HERE -->
</body>

</html>