<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Langs learning</title>
  <link rel="icon" href="/images/LangsLearnning_icon.png" type="image/x-icon">
  <!-- JUST LIBRARIES -->
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
  <!-- JUST LIBRARIES -->


  <!-- OUR CSS FILES HERE -->
  <link rel="stylesheet" href="/styles/variables.css">
  <link rel="stylesheet" href="/styles/styles.css">
  <!-- OUR CSS FILES HERE -->
</head>

<body>
  
  <h1>Student page...</h1>

  <!-- JUST LIBRARIES -->
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/lodash/lodash.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <!-- JUST LIBRARIES -->

  <!-- OUR JS FILES HERE -->
  <script src="/js/index.js"></script>
  <!-- OUR JS FILES HERE -->
</body>
<footer>
  <div class="container footer">
    <p class="followus__text">Siga-nos!</p>
    <div class="icons">
      <a href="#"><img src="/images/facebook_icon.ico" class="facebook__icon" alt="Ícone do Facebook"></a>
      <a href="#"><img src="/images/instagram_icon.ico" class="instagram__icon" alt="Ícone do Instagram"></a>
      <a href="#"><img src="/images/twitter_icon.ico" class="twitter__icon" alt="Ícone do Twitter"></a>
    </div>
  </div>
</footer>

</html>